<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/tempusdominus-bootstrap-4.min.css">
<link rel="stylesheet" href="css/drag_and_drop.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/moment-en-ca.js"></script>
<script src="js/tempusdominus-bootstrap-4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="images/favicon/favicon.ico"/>

<style>
  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
  }

  redacted {
    background-color: #000000;
    color:transparent;
  }
</style>
