<head>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="js/moment.js"></script>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/index_page.js"></script>

	<style>
		body {
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizelegibility;
		}

	 	redacted {
			background-color: #000000;
		  color:transparent;
		}

	</style>
</head>

<body>
	<div class="container">


		<div class="col-md-12">
			<div class="text-muted">
				<div class="row mt-4"></div>
				
			</div>
    </div>
  <div>
</body>
