<head>

	{% include 'boilerplate.html' %}

  <script src="js/new_project.js"></script>

	<style>
		body {
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizelegibility;
		}

	 	redacted {
			background-color: #000000;
		  color:transparent;
		}

	</style>
</head>

<body>
	<div class="container">
		<div class="col-md-9">
			<div class="text-muted">
				<div class="row mt-4"></div>
				<div class="row mt-5"></div>

				<h4 class="text-muted mb-3">You're making a new project. Sweet!</i></h4>

        <div id="alerts"></div>

        <form id="project_form">

          <div class="form-row">

            <div class="col-md-6 mb-3">
              <label for="project_pretty_name">Display name</label>
              <input type="text" class="form-control" name="display_name" id="display_name" placeholder="Enter a display name">
            </div>

            <div class="col-md-6 mb-3">
              <label for="project_pretty_name">ID</label>
              <input type="text" class="form-control" name="project_id" id="project_id" placeholder="Enter a project ID - no spaces">
            </div>

          </div>

          <div class="form-row">

            <div class="col-sm-4">
                <label for="project_pretty_name">Start date</label>
                <div class="form-group">
                    <div class="input-group date" id="start_date" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" name="start_date" data-target="#start_date"/>
                        <div class="input-group-append" data-target="#start_date" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="sel1">Author:</label>
                <select class="form-control" name="author" id="author">
                  {% for user in USERS %}
                    <option>{{ user }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

          </div>

          <div id="git_entry" class="form-row">

            <div class="col-md-6 mb-3">
              <label for="project_pretty_name">Git remote origin URL</label>
              <input type="text" class="form-control" name="remote_origin" id="remote_origin" placeholder="https://">
            </div>
          </div>

          <button type="button" id="create_project" class="btn btn-primary btn-lg btn-block">Create project</button>

        </form>

			</div>
		</div>
	</div>
</body>
